:root{
  --header-color: black;
  background-color: #FFBF4E;
  --paragraph-text: brown;
  background-size: 50px 50px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  }
  .title{
    color: var(--header-color);
    font-size: 80px;
    display: flex;
    justify-content: center;
    font-family: Cursive, arial;
    overflow: hidden;
  }
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: none;
    background-color: #FDCC76;
    display: flex;
    justify-content: center;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .first-letter{
    font-size: 40px;
  }
  
  h1{
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .reg-text{
    padding-top: 17px;
    font-size: 20px
  }
  
  p {
    color: var(--paragraph-text);
    display: flex;
    justify-content: center;
    margin-top: 1.56rem;
  }
 
  .inventory * {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*potentially use for listing blocks
  a {
      display:inline-block;
      width:40px;
      height:30px;
      background-color: inherited;
      border: none;
  }*/